@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(#AD1DEB,#6E72FC)
}

#toasts {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toast {
    background-color: #fff;
    color: rebeccapurple;
    border-radius: 5px;
    padding: 1rem 2rem;
    color: rgb(38, 230, 38);
    margin: 0.5rem;
}

.wrapper {
    height: 260px;
    background: whitesmoke;
    max-width: 410px;
    border-radius: 7px;
    padding: 16px 25px;
    transition: height 0.3s ease-in;
    box-shadow: 5px 5px rgba(145, 3, 188, 0.5);
}

.wrapper.active {
    height: 530px;
}

header h1{
    font-size: 21px;
    font-weight: bold;
}

header p{
    margin-top: 5px;
    font-size: 16px;
    color: #474747;
}

.form {
    position: relative;
}
.wrapper .form {
    margin:  20px 0 25px;
}


.form :where(input , button) {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form input {
    font-size: 18px;
    padding: 0 17px;
    border: 1px solid #999;
}

.form button {
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
    background-image: linear-gradient(to right,#AD1DEB,#6E72FC);
    transition: width 0.4s ease;
}

.copyBtn {
    background-image: linear-gradient(to right,#AD1DEB,#6E72FC);
    padding: 0;
    color: #fff;
    width: 15%;
    opacity: 0;
    font-size: 22px;
    position: absolute;
    top: auto;
    right: 1px;
    cursor: pointer;
    height: 55px;
    border: none;
    outline: none;
    transition: opacity 0.4s 0.4s ease;
    border-radius: 5px;
}

.copyBtn.active{
    opacity: 1;
}

.copyBtn:active {
    transform: scale(0.97);
}

#btn:active {
    transform: scale(0.97);
}



.wrapper .qr-code {
    border: 1px solid #ccc;
    display: flex;
    padding: 33px 0;
    opacity: 0;
    pointer-events: none;
    border-radius: 5px;
    margin-top: 33px;
    align-items: center;
    justify-content: center;
}

.wrapper.active .qr-code {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.5s ease;
}